body{
  background-image: url("BackGround.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
 
  .Skill{
   margin-top: 20px;
   position: absolute;
  }
  ul {
    align-items: center;
  }
    

  
  
    
    
  
  
    
 