body{
    background-image: radial-gradient(lightpink,cyan,lightpink,cyan);
    font-weight: bold;
}
h1{
font-family: sans-serif;
}

.footer{
display: flexbox;

}

.buttons{

    display: flex;
    transition: width 2s, height 4s;
    text-align: center;

 
}

#btn{
    margin-right: 50px;
    padding-right: 100px;
    padding-bottom: 10px;
 
}

#btn:hover{
background-color: cyan;
transition: width 2s, height 4s;
}

