body {
    background-image: linear-gradient(pink,cyan);
    color: black;

  } 



  .img{
  
      display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
      
      
  }

  h1{
      text-shadow: 10px 10px 8px black;
      transform:skew(5);
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  h1:hover{

    transform: translate(10px,10px);
  }

  .item{
      margin-right: 50px;
  }

  