body {
    background-image: url('Back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  } 

  .in{
column-count: 2;
column-rule-style: dotted;
padding-bottom: 50px;
  }
  .hobbies{
     
      margin-right: 0px;
      padding-right: 0px;
  }

  img{
      border: 3px solid black;
      margin:0px;
      padding: 0px;
  }